<footer class="app-footer">
  <div class="container app-footer__inner">
    <small>Made with love in Utrecht, The Netherlands by <a href="https://opinionated.nl">Opinionated Digital Studio</a> — 2021</small>
  </div>
</footer>
