<header class="app-header">
  <div class="container app-header__inner">
    <div class="app-header__logo">
      <a class="app-header__logo-link" href="/">Lunetten</a>
    </div>
    <nav>
      <ul class="app-header__menu">
        {% for item in collections.pages %}
          <li class="app-header__menu-item {% if page.url == item.url %}app-header__menu-item--current" aria-current="page" {% else %} " {% endif %}>
          <a href="{{ item.url }}" class="app-header__menu-link">
            {{ item.data.title }}
          </a>
        </li>
        {% endfor %}
        <li class="app-header__menu-item">
          <a href="https://github.com/opinionated-digital-studio/lunetten" class="app-header__menu-link">
            GitHub
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

