@use '~letters-and-spaces' as *;

.app-skip-link {
  padding: 0.4rem 0;
  text-align: center;
  display: block;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  flex: none;

  &:focus,
  &:active {
    position: static !important;
    width: auto !important;
    height: auto !important;
    clip: auto !important;
    clip-path: none !important;
  }

  @include media-query($from: desktop) {
    padding: 0.2rem 0;
    @include set-font-size-fixed(-1, desktop);
  }
}
