$font-family-sans: Inter, Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', serif !default;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-url: '/public/fonts';

